

:root.theme-dark {
	--bg-color: #000028; /* Тёмная тема - фон */
	--text-color: #ff0070; /* Тёмная тема - текст */
	--accent-color: #DB00FF; /* Тёмная тема - акцент */
	--header-name-color: #DB00FF; /* Тёмная тема - цвет заголовка */
	--text-shadow-color: #ff0070; /* Тёмная тема - тень текста */
	--header-nav-color: #ff0070;
	--header-bg-title: #FF0070; /* Тёмная тема - фон заголовка */
	
	--main-title-color: #ff0070; /* шрифт заголовка в секции*/
	--main-title-accent: #000028; /* шрифт заголовка в розовом поле*/
	--main-text-accent: #ff0070;
	--bg-title-color: #ff0070;
	--rec-visible: visible;
}


.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
	--bg-image: url(../images/cover-image-dark.png);
	--bg-color: #000028;
	--header-text-color: #000028;
	--header-background: #FF0070;
	--header-nav-color: #ff0070;
	--text-color:  #F1B2CE;
	--main-title-color: #ff0070; /* шрифт заголовка в секции*/
	--main-title-accent: #000028; /* шрифт заголовка в розовом поле*/
	--main-text-accent: #ff0070;
	--accent-color: #ff0070;
	--title-color: #db00ff;
	--text-shadow-color: #ff0070;
}
