:root.theme-dark {
	--bg-image: url(../images/cover-image-dark.png);
	--bg-color: #000028;
	/* Тёмная тема - фон */
	--header-bg-title: #ff0070;
	/* Тёмная тема - фон заголовка */
	--text-color: #ff0070;
	/* Тёмная тема - текст */
	--accent-color: #db00ff;
	/* Тёмная тема - акцент */
	--header-nav-color: #ff0070;
	/* Тёмная тема - цвет текста меню */
	--header-nav-color-rgb: 255, 0, 112;
	--header-name-color: #db00ff;
	/* Тёмная тема - цвет заголовка */
	--text-shadow-color: #ff0070;
	/* Тёмная тема - тень текста */
	--main-title-color: #ff0070;
	/* цвет заголовка в секции*/
	--title-text-color: #000028;
	/* цвет шрифта заголовка 2 */
	--main-title-accent: #000028;
	/*цвет заголовка 3 на выделеном фоне*/
	--bg-title-color: #ff0070;
	/* фон заголовка 3*/
	--main-text-color: #f1b2ce;
	/* цвет текста в параграфе*/
	--main-text-accent: #ff0070;
	/* цвет выделенного слова в параграфе*/
	--rec-visible: visible;
}

.theme-dark .page {
	--bg-image: url(../images/cover-image-dark.png);
	--bg-color: #000028;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-image: url(../images/cover-image-dark.png);
		--bg-color: var(--bg-color);
		/* Тёмная тема - фон */
		--header-bg-title: #ff0070;
		/* Тёмная тема - фон заголовка */
		--text-color: #ff0070;
		/* Тёмная тема - текст */
		--accent-color: #db00ff;
		/* Тёмная тема - акцент */
		--header-nav-color: #ff0070;
		/* Тёмная тема - цвет текста меню */
		--header-nav-color-rgb: 255, 0, 112;
		--header-name-color: #db00ff;
		/* Тёмная тема - цвет заголовка */
		--text-shadow-color: #ff0070;
		/* Тёмная тема - тень текста */
		--main-title-color: #ff0070;
		/* цвет заголовка в секции*/
		--title-text-color: #000028;
		/* цвет шрифта заголовка 2 */
		--main-title-accent: #000028;
		/*цвет заголовка 3 на выделеном фоне*/
		--bg-title-color: #ff0070;
		/* фон заголовка 3*/
		--main-text-color: #f1b2ce;
		/* цвет текста в параграфе*/
		--main-text-accent: #ff0070;
		/* цвет выделенного слова в параграфе*/
		--rec-visible: visible;
	}
}