.theme-light {
	--bg-image: url(../images/cover-image-light.png);
	--bg-color: #fff1f7;
	/* Светлая тема - фон*/
	--header-bg-title: #ff8dcb;
	/* Светлая тема - фон заголовка*/
	--text-color: #353430;
	/* Светлая тема - текст */
	--accent-color: #ff8dcb;
	/* Светлая тема - акцент */
	--header-nav-color: #353430;
	/* Светлая тема - цвет текста меню */
	--header-nav-color-rgb: 53, 52, 48;
	--header-name-color: #ffc2e6;
	/* Светлая тема - цвет заголовка */
	--text-shadow-color: #ff8dcb;
	/* Светлая тема - тень текста */
	--main-title-color: #353430;
	/* Светлая тема - цвет заголовка в секции*/
	--title-text-color: #353430;
	/* Светлая тема - цвет шрифта заголовка 2 */
	--main-title-accent: #353430;
	/* Светлая тема - цвет заголовка 3 на выделеном фоне*/
	--bg-title-color: #ff8dcb;
	/* Светлая тема - фон заголовка 3*/
	--main-text-color: #353430;
	/* Светлая тема - цвет текста в параграфе*/
	--main-text-accent: #ff8dcb;
	/* Светлая тема - цвет выделенного слова в параграфе*/
	--rec-visible: hidden;
}
page .theme-light {
 	--bg-image: url(../images/cover-image-light.png);
	--bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
	:root .theme-light {
		--bg-image: url(../images/cover-image-light.png);
		/* Светлая тема - фон картинка */
		--bg-color: #fff1f7;
		/* Светлая тема - фон*/
			/* Светлая тема - фон*/
	--header-bg-title: #ff8dcb;
	/* Светлая тема - фон заголовка*/
	--text-color: #353430;
	/* Светлая тема - текст */
	--accent-color: #ff8dcb;
	/* Светлая тема - акцент */
	--header-nav-color: #353430;
	/* Светлая тема - цвет текста меню */
	--header-nav-color-rgb: 53, 52, 48;
	--header-name-color: #ffc2e6;
	/* Светлая тема - цвет заголовка */
	--text-shadow-color: #ff8dcb;
	/* Светлая тема - тень текста */
	--main-title-color: #353430;
	/* Светлая тема - цвет заголовка в секции*/
	--title-text-color: #353430;
	/* Светлая тема - цвет шрифта заголовка 2 */
	--main-title-accent: #353430;
	/* Светлая тема - цвет заголовка 3 на выделеном фоне*/
	--bg-title-color: #ff8dcb;
	/* Светлая тема - фон заголовка 3*/
	--main-text-color: #353430;
	/* Светлая тема - цвет текста в параграфе*/
	--main-text-accent: #ff8dcb;
	/* Светлая тема - цвет выделенного слова в параграфе*/
	--rec-visible: hidden;
	}
}
