/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
	--bg-image: url(../images/cover-image-light.png);
	--bg-color: #fff1f7;
	--text-color: #353430; 	/* Светлая тема - текст */
	--accent-color: #FF8DCB; 	/* Светлая тема - акцент */
	--header-name-color: #FFC2E6; 	/* Светлая тема - цвет заголовка */
	--text-shadow-color: #FF8DCB; 	/* Светлая тема - тень текста */
	--header-nav-color: #353430;
	--header-bg-title:  #FF8DCB; 	/* Светлая тема - фон */
	--main-title-color: #ff8dcb;
	--main-title-accent: #000028;
	--bg-title-color: #ff8dcb;
	--main-text-color: #353430;
	--main-text-accent: #ff8dcb;
	--rec-visible: hidden;
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-image: url(../images/cover-image-light.png);		/* Светлая тема - фон */
		--header-bg-title:  #FF8DCB;
		--text-color: #353430;
		/* Светлая тема - текст */
		--accent-color: #FF8DCB;
		/* Светлая тема - акцент */
		--header-title-color: #FF8DCB;
		/* Светлая тема - фон заголовка */
		--header-name-color: #FFC2E6;
		/* Светлая тема - цвет заголовка */
		--text-shadow-color: #FF8DCB;
		/* Светлая тема - тень текста */
		--main-title-color: #353430;
	}

}

.theme-light .page {
	--bg-image: url(../images/cover-image-light.png);
	/* Вам также нужно будет написать ряд подобных селекторов */
	--main-title-color: #353430;
	--text-shadow-color: #FF8DCB;
}
